

Screen, UtilsScreen, ConfirmDelete {
    align: center middle;
}

#title, #utils_title {
    width: 100%;
    text-align: center;
}

Body, #utils-container{
    width: 100%;
    height: 50%;
    align: center middle;
}


Body Vertical, #utils-container {
    align: center middle;
}

Button:focus, Button:hover {
    text-style: bold;
}

#utils-container {
    #download, #setup, #music, #back, #frame_toggle{
    width: 30;
    background: 0%;
    border: round #9FE2BF;
}
#utils-container, #delete{
    width: 30;
    background: 0%;
    border: round lightcoral;
    color: lightcoral;
}
}
#delete-title {
    align: center middle;
}
#delete-container {
    align: center middle;
    #yes {
        width: 10;
        background: 0%;
        border: round lightcoral;
    }
    #no {
        width: 10;
        background: 0%;
        border: round lightcoral;
    }
}

#main-container {
    Button {
        width: 30;
        background: 0%;
        border: round #9FE2BF;
    }
}

