Screen, UtilsScreen {
    align: center middle;
}

#title, #utils_title {
    width: 100%;
    text-align: center;
}

Body, #menu-container {
    width: 100%;
    height: 50%;
}

Body Vertical, #menu-container {
    align: center middle;
}

Button:focus, Button:hover {
    text-style: bold;
}

#menu-container {
    Button {
    width: 30;
    background: 0%;
    border: round lightcoral;
}
}

#main-container {
    Button {
        width: 30;
        background: 0%;
        border: round #9FE2BF;
    }
}
